<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center ">hello you people.
        what do you mean you people?</h1>

    <ol>
        {% for single in value %}

            {% if string == 'abel' %}
                
            {% else %}
                <li>{{single}}</li>
            {% endif %}
        {% endfor %}
    </ol>

    <form>
        <input type="text" name="name">
        <button type="submit">submit</button>
    </form>
</body>
</html>