{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="" crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="{% static '/bootstrap/css/bootstrap.min.css' %}"
    />
    <title>Document</title>
  </head>
  <body>
      {% include  "header.html"%}
    <main>
      <h1>this is a press webpage</h1>
      <ul>
        <li><a href="">names</a></li>
        <li><a href=""> add name </a></li>
      </ul>


      {% include  "addhobby.html"%}
      <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </main>
  </body>
</html>
